/*Base Element Styles*/



body {
    background-color:#FEFEE7; /*vanilla by Stephen Caver on Colourlovers*/
}


.main-header {
    padding-top: .5em;
    height: 850px;
    background: linear-gradient(#A4D0C4, transparent 90%),linear-gradient(#FEFEE7, transparent), url('/Images/dreamstime_l_96251115.jpg') no-repeat center; /*Sea of Love by Stephen Caver on Colourlovers*/
    background-size: cover;
}


.container {
    display: inline-flex;
}

#circle {
    /* display: inline-flex; */
    height: 125px;
    width: 125px;
    /*background-color: #EB6841;#FFD599 Sunset by Alpen on Colourlovers. also tried #EB6841 caribic sun by DesignJunkee on Colourlovers*/
    border-radius: 50%;
    margin-left: 100px;
    /* opacity: 1; */
    background-size: 400% 400% !important;
    background: /*linear-gradient(to right, #D1E7D6, 25%, #EB6841);*/ linear-gradient(90deg, #D1E7D6, #EB6841 );
	-webkit-animation: Gradient 8s ease infinite;
	-moz-animation: Gradient 8s ease infinite;
	animation: Gradient 8s ease infinite;
}

 @keyframes Gradient {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
  } 

#increaseWrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

/* .crescent {
    opacity: 0; 
}*/


    .crescentSmall {
    position: absolute;
    height: 50px;
    width: 50px;
    opacity: .6;
    border-radius: 50%;
    border: 3px solid transparent;
    border-right-color: #EB6841;
    z-index: auto;
    top: 50%;
    transform: translatey(-50%);
}  

    .crescentMed {
    position: absolute;
    height: 75px;
    width: 75px;
    opacity: .6;
    border-radius: 50%;
    border: 10px solid transparent;
    border-right-color: #EB6841;
    z-index: auto;
    top: 50%;
    transform: translatey(-50%);
    right: 32%;
}

    .crescentLarge {
    position: absolute;
    height: 120px;
    width: 120px;
    opacity: .6;
    border-radius: 50%;
    border: 12px solid transparent;
    border-right-color: #EB6841;
    z-index: auto;
    top: 50%;
    transform: translatey(-50%);
    right: 6%;
}

.name {
    font-size: 5em;
    font-family:'Open Sans', sans-serif; /*'Racing Sans One', cursive;  /* Verdana, Geneva, Tahoma, sans-serif; */
    font-style: italic;
    color: #0F0F0D; /*Ay, la policia by stephen Caver on colourlovers*  other option #72C4B9 with text shaddow to outline it
    /* text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000; */
    text-align: center;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);

}
.subheading {
    font-size: 48px;
    color: #0F0F0D; /*Ay, la policia by stephen Caver on colourlovers*/
    text-align: center;
    
}
h2 {
    font-size: 20px;
    color: #0F0F0D; /*Ay, la policia by stephen Caver on colourlovers*/
    text-align: center;
}

/*=====================
Base Layout Styles
=======================*/

/* Navigation*/

.banner {
    background: linear-gradient(#72C4B9, #A4D0C4); /*dance with you by stephen caver on Coulorlovers*/
    padding-top: .5em;
    padding-bottom: .5em;
}

.main-nav a {
    display: block;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    color: #0F0F0D;
}

.main-nav {
    list-style-type: none;
}

a:link {
    color: #0F0F0D;
}

a:visited {
    color: gray;
}

a:hover {
    color: #F59F6D;
}

a:active {
    color: red;
}

/* Container Layout */



/* ===============================
Media Queries
=================================*/

/*@media (min-width:48em) { /*769px divided by 16 to get em. See article on proportional media queries

    .main-nav li {
        display: inline-block;
    }
