/* ====================
     Custom CSS 
=======================*/

/*================== 
Base Element Styles
====================*/

body {
    background: #FEFEE7 !important; /*dance with you by stephen caver on Coulorlovers*/
}
 p {
     font-family: 'Roboto', sans-serif;
 }



/*===================
 Base Layout Styles
 ===================*/

    /* Navbar */

.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}


.heading {
       font-family: 'Open Sans', sans-serif; /*'Racing Sans One', cursive; /*'Open Sans', sans-serif;*/
    font-style: italic;
    color: #0F0F0D; /*Ay, la policia by stephen Caver on colourlovers */
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
    z-index: 10000;
    position: relative;
            }


.navbar {
    height: 10em;
    background:#72C4B9; /*linear-gradient(#72C4B9, #A4D0C4); /*dance with you by stephen caver on Coulorlovers*/
}


 .subtitle {
    font-family: 'Open Sans', sans-serif; /*'Racing Sans One', cursive;*/
    font-weight: bold;
} 

.btn {
    font-family: "Roboto", sans-serif;
    color: #0F0F0D;
}

/* End Navbar */

.goal, .activities {
    list-style-type: circle;
    font-family: "Roboto", sans-serif;
}

.resources {
    font-family: "Roboto", sans-serif;
    list-style-type: disc;
    margin-left: 1em;
}

#secondary-heading {
    display: none;
}

#subheading {
    display: none;
}

.sign-up {
    border-radius: 2%;
}


/*Get Inspired*/

    .carousel-inner {
        height: 400px;
        width: 300px;
    }

    .wrapcol {
        background:#A4D0C4;
        font-size: 1.2em;
        width: 80%;
        padding: 2em;
        border-radius: 3px;
    }

    .alertbutton {
        margin: 0 auto;
    }

/*footer*/

footer {
    background: #72C4B9;
}

.sitefooter {
    font-weight: bold;
    width: 100%;

}   

/*Contact and Sign Up Form*/

.contactform {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2em;
}

form {
    border: 1px solid black;
    padding: 1em;
}
 
.inputfield {
    width: 150px;
}

#city, #streetaddress {
    width: 200px;
}

.formtitle {
    text-align: center;
    margin-bottom: .5em;
    font-weight: bold;
    font-size: 2em;
}


legend {
    text-align: left;
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 1.5em;
}

label, input {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
}

textarea {
    width: 100%;
    background-color: #FEFEE7;
}

input {
    background-color: #FEFEE7;
}

input[type="text"]:hover {
    background-color: white;
}

input[type="email"]:hover {
    background-color: white;
}

input[type="checkbox"]:checked+label {
    font-weight: bold;
}

input[type="checkbox"] {
    background-color: #FEFEE7!important;
    margin-right: 0!important;
}

.formsubtitle {
    margin: 0;
}

/*Testimonials page*/


.video-wrapper {
    width: 700px;
    max-width: 100%;
    margin: auto;
    margin-top: 3em;
    padding-left: 2em;
}

.video-container {
    margin-bottom: 1em;
    position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.nameheader {
    margin-left: 5em;
}

/*===================
 Media Queries
 ===================*/

/* No greater than 75 em; no less than 45em */
 
@media only screen and (max-width: 75em) and (min-width: 45em) {
    #circle {
        display: none;
    }

    #secondary-heading {
        color: black;
    }

    #subheading {
        color: black;
    }

    .heading {
        font-size: 3em !important;
    }

    .header-inspired  {
        margin-top: 10em;
    }

    #contact {
        margin-top: 6em;
    }
}

@media only screen and (max-width: 45em) {
    .heading {
        font-size: 3em!important;
        padding-left: 0;
    }
    #about {
        margin-top: 6em;
    }

    #contact {
        margin-top: 15em;
    }

    .header-inspired {
        margin-top: 6em;
    }
}


 @media only screen and (min-width: 46em) {

  #about {
      padding-top: 10em;
      margin-left: 0;
      margin-right: 0;
  }



    .heading {
        font-size: 3.5em !important;
    }

    #secondary-heading {
        font-family: 'Open Sans', sans-serif !important;
        color: white;
        font-weight: bold; 
        display: flex;
        }
    
     #subheading {
            font-family: 'Open Sans', sans-serif !important;
            color: white;
            font-weight: bold;
            display: flex;
            margin-bottom: 90px; 
            margin-right: .75em;
            }

     .header {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../Images/dreamstime_m_96251115.jpg);
        background-position: center;
        opacity: .6;
        background-size: cover;
        min-height: 100vh;
        }

        #increase-wrapper {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1000;
        }
        
        #circle {
            height: 100px;
            width: 100px;
            border-radius: 50%;
            background: linear-gradient(90deg, #72C4B9, #EB6841 );
            /* opacity: 0; */
            position: absolute;
            z-index: 1;
        }
 }